.App {
  text-align: center;
}

html,
body {
  background-color: rgb(240, 240, 240);
}

.App-header {
  margin: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
}

.header-icon {
  width: 60px;
  height: 60px;
}

.header-img {
  height: 200px !important;
  z-index: 10;
}

.App-title {
  font-size: 1em;
}

.nav {
  margin: 0px;
  padding-top: 10px;
  background-color: rgb(240, 240, 240);
  position: sticky;
  top: 0px;
  right: 0px;
  height: 100vh;
  overflow: visible;
  width: 120px;
  float: right;
  z-index: 10;
}

.nav-item {
  border-radius: 0%;
  z-index: 300;
  font-size: 15px;
}

.nav-link {
  border-radius: 0%;
  padding: 20px;
  color: rgb(187, 187, 187) !important;
}

.nav-link:hover {
  color: rgb(59, 122, 40) !important;
}

.tooltip {
  font-size: 20px;
}

.active-tab {
  color: rgb(59, 122, 40) !important;
}

.search-page {
  position: relative;
}

.component-header {
  width: 100%;
  text-align: left;
  padding: 15px 0px 8px 170px;
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.component-header > div > h4 {
  font-weight: 550;
  font-size: 25px;
  color: rgb(59, 122, 40);
}

.component-header > h4 {
  font-weight: 550;
  font-size: 25px;
  color: rgb(59, 122, 40);
}

.movies-list {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: box-shadow 0.3s;
}

.bookmarked-item-icon {
  color: rgba(144, 247, 114);
  display: inline-block;
  padding: 5px;
}

.bookmark-item-icon {
  color: white;
  display: inline-block;
  padding: 5px;
}

.bookmarked-icon {
  color: rgb(59, 122, 40);
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.bookmark-icon {
  color: lightgray;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.bookmark-icon:hover {
  color: rgb(59, 122, 40);
}

.bookmark-item-icon:hover {
  color: rgba(144, 247, 114);
}

.options-icon-active {
  color: rgba(144, 247, 114);
}

.options-icon:hover {
  color: rgba(144, 247, 114);
}
.movie-info {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 20px;
  padding-top: 0px;
  color: white !important;
  opacity: 0.1;
}

.movie-info:hover {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.movie-item:hover {
  box-shadow: 0 0px 0px 12px rgba(144, 247, 114, 0.5), 0 0px 0px 12px rgba(144, 247, 114, 0.5);
}

.rate-start-icon {
  color: gold;
  margin-right: 10px;
}

.users-votes-icon {
  width: 30px;
}

.buttons-div {
  background-color: rgb(240, 240, 240);
  color: gray;
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 60%;
  padding: 20px;
  animation-name: displayOptionsMenu;
  animation-duration: 0.5s;
  border-radius: 4px;
}

.buttons-div > div {
  font-size: 18px;
  text-align: left;
  transition: color 0.2s;
  width: 100%;
}

.buttons-div > div:hover {
  color: #222;
}

.details-div {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
}

.btn {
  margin: 5px;
}

.remove-btn {
  width: 50%;
  height: 50px;
  color: red;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.remove-btn:hover {
  color: red !important;
  font-weight: 550;
}

.search-icon {
  position: relative;
  bottom: 3px;
}

.search-input {
  padding: 5px;
  border-top: none;
  background-color: rgb(240, 240, 240);
  border: none;
  border-bottom: 2px solid rgb(59, 122, 40);
  color: #222;
  font-weight: 550;
  padding: 8px;
  border-radius: 3px;
  margin-right: 10px;
  transition: box-shadow 0.5s, border 0.5s;
}

.search-input:focus {
  box-shadow: 0 0px 0px 4px rgb(59, 122, 40);
}

.search-btn {
  height: 50px;
  border-radius: 4px;
  vertical-align: bottom;
  margin-top: 20px;
  background-color: rgb(240, 240, 240);
  color: rgb(59, 122, 40);
  border: 1px solid rgb(59, 122, 40);
  font-size: 18px;
  padding: 8px;
  width: 200px;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-btn:hover {
  background-color: rgb(59, 122, 40);
  color: white;
  box-shadow: 0 0px 0px 4px rgba(144, 247, 114);
}

.search-btn:focus {
  background-color: rgb(59, 122, 40);
  color: white;
  box-shadow: 0 0px 0px 4px rgba(144, 247, 114);
}

.scroll-top-div {
  display: none;
}

.sidebar-overview {
  width: 30%;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-overview {
  width: 60%;
  text-align: left;
  padding-left: 50px;
}

.movie-poster {
  width: 65%;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-arrow {
  color: lightgray;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.back-arrow:hover {
  color: rgb(59, 122, 40);
}

.option-div {
  width: 100%;
  border: 2px solid lightgray;
  color: gray;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
}

.option-div:hover {
  border: 2px solid rgb(59, 122, 40);
  color: rgb(59, 122, 40);
}

.info-tab {
  position: fixed;
  bottom: 16px;
  right: 21px;
}

.chevron-down-div {
  display: flex;
  justify-content: center;
}
.chevron-down {
  color: gray;
  cursor: pointer;
}

.chevron-down:hover {
  color: black;
}

.similar-movies-div {
  margin-top: 50px;
}

.pagination-div {
  padding: 0px;
  display: flex;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid lightgray;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.pages-pagination {
  width: 100%;
}

.active-div-page {
  background-color: rgb(59, 122, 40);
}

.active-div-page:hover {
  background-color: rgb(59, 122, 40) !important;
}


.active-link-page {
  color: white !important;
}

.link-pagination:focus {
  outline: none;
}

.link-pagination {
  padding: 10px 20px;
  color: rgb(59, 122, 40);
}

.link-pagination:hover {
  color: rgb(59, 122, 40);
}

.page-pagination {
  border-right: 1px solid lightgray;
}

.page-pagination:hover {
  background-color: rgb(233, 233, 233);
}


h6 {
  font-weight: 550;
}

h1 {
  font-weight: bolder;
}

form {
  text-align: left;
  background-color: rgb(240, 240, 240);
  width: 100%;
  padding: 20px;
  z-index: 3;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0px;
}

form > input {
  color: rgb(59, 122, 40);
  border-radius: 4px;
  margin-right: 15px;
  padding: 5px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    width: 80px;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
  }
  form {
    text-align: left;
    padding-left: 100px;
  }
  .search-btn {
    margin-top: 0px;
  }
  .App-header {
    font-size: 4em;
    margin: 150px;
  }
  .header-img {
    height: 500px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    /* padding-left: 200px; */
  }
  .nav-item {
    display: block;
  }
  form {
    text-align: left;
    padding-left: 200px;
  }
  .App-header {
    font-size: 4em;
  }
  .header-img {
    height: 500px !important;
  }
  .search-input:focus {
    outline: none;
    border: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollTopAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 8px rgba(122, 122, 122, 1);
  }
}

@keyframes navItemColor {
  0% {
    color: white;
  }
  100% {
    color: rgba(144, 247, 114);
  }
}

@keyframes displayOptionsMenu {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
